@import "../variables";

header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 80px;
  width: 100%;
  color: white;
  background-color: $ps-black;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      margin-left: 30px;
      list-style-type: none;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.toto {
  border: 2px solid red;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
  padding-top: 20px;
}
