/* Other rules */
@import "variables";
// $ps-black: #191919;
// $ps-grey: #b2b2b2;
// $ps-lightGrey: #c5c5c5;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $ps-lightGrey;
  color: $ps-black;
}

.container {
  width: 1240px;
  margin: 100px auto;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: none;
}

/* Form User */
.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 300px;
    height: 30px;
    margin: 16px 0 8px 0;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 6px;
    font-size: 1.1rem;
    border-radius: 6px;
  }
}

.user-form button {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  background-color: rgb(6, 59, 6);
  color: white;
  font-size: 1.1rem;
}

.user-form .message-error {
  color: $ps-error;
}

.form-group {
  margin-bottom: 1rem;
}
